.orgchart.myChart {
    background-image: none;
}

.orgchart.myChart > ul > li > ul li::before {
    border-top-color: #215a88;
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
    background-color: #215a88;
}

.orgchart.myChart .oc-node .position {
    box-sizing: border-box;
    background-color: #215a88;
    color: #fff;
    width: 130px;
    height: 65px;
    padding: 2px;
}

.orgchart.myChart .oc-node .rule-node {
    box-sizing: border-box;
    width: 130px;
    padding: 8px;
    color: white;
    background-color: green;
}

.orgchart.myChart .oc-node .rule-on {
    background-color: green;
}

.orgchart.myChart .oc-node .rule-off {
    background-color: red;
}

.exit-node{
    background-color: rgb(62 173 142) !important;
}

.reject-node{
    background-color: rgb(165, 78, 78) !important;
}

.action-node{
    border-radius: 25px !important;
}

